<!DOCTYPE html>
<html lang="en" ng-app="plesynd" ng-controller="PlesyndCtrl" smanifest="/cache.appcache">
<head>
    <meta charset="utf-8">
    {% raw %}<title>PleSynd {{online_status_string}}</title>{% endraw %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% stylesheets
    '@CorujaPlesyndBundle/Resources/public/css/bootstrap.css'
    '@CorujaPlesyndBundle/Resources/public/css/app.css'
    output='css/compiled/plesynd/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none;
        }

        ng\:form {
            display: block;
        }
    </style>

    <!-- Le fav and touch icons -->
    <!--
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    -->
</head>

<body>

{% raw %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <!-- benötigt bootstrap.js
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            -->
            <a class="brand" href="#">Plesynd</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                System is
                <span ng-show="online_status" class="label label-success">Online</span>
                <span ng-show="!online_status" class="label label-important">Offline</span>
            </div>
        </div><!--/span-->
    </div><!--/row-->
</div><!--/.fluid-container-->


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="progress" ng-class="active" ng-cloak>
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div><!--/span-->
    </div><!--/row-->
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li ng-class="{active: checkActiveTab('dashboard')}"><a href="#/dashboard">dashboard</a></li>
                <li ng-class="{active: checkActiveTab(workspace.id)}" ng-repeat="workspace in workspaces" >
                    <a href="#/workspace/{{workspace.id}}">
                        {{workspace.title}}
                        <span ng-show="checkActiveTab(workspace.id)" ng-click="changeShowEdit()"> | e</span>
                    </a>
                </li>
                <li><a ng-click="addWorkspace()">Add</a></li>
            </ul>
        </div><!--/span-->
    </div><!--/row-->
    <div class="row-fluid">
        <div class="span12">
            <div ng-view></div>
        </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; Roman Sachse 2012</p>
    </footer>

</div><!--/.fluid-container-->


<!-- Container that holds dashboard -->
<script type="text/ng-template" id="dashboard">
    <div class="row-fluid"
        <div class="span12 well">
            {{ dashboard.info }}
        </div><!--/span-->
    </div><!--/row-->
</script>

<!-- Container that holds the different workspaces -->
<script type="text/ng-template" id="workspaceContainer">
    <div class="row-fluid edit-workspace" ng-show="show_edit">
        <div class="span12 well">
            <div class="row-fluid choose-widget">
                <div class="span2">
                    <select ng-model="widget" ng-options="widget.title for widget in availableWidgets">
                        <option value="">-- Choose Widget --</option>
                    </select>
                </div><!--/span-->
                <div class="span10">
                    <button class="btn" ng-show="widget" ng-click="addWidgetToWorkspace(widget)">Add Widget to Workspace</button>
                </div><!--/span-->
            </div><!--/row-->
            <div class="row-fluid">
                <div class="span5">
                    <table ng-show="widget" class="table table-bordered">
                        <tbody>
                        <tr>
                            <td><img ng-src="{{widget.icon}}" /></td>
                        </tr>
                        <tr>
                            <td>{{widget.title}}</td>
                        </tr>
                        <tr>
                            <td>{{widget.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!--/span-->
            </div><!--/row-->
            <div class="row-fluid">
                <div class="span12">
                    <button class="btn" ng-click="deleteWorkspace()">Delete workspace</button>
                </div><!--/span-->
            </div><!--/row-->
        </div><!--/span-->
    </div><!--/row-->
    <hr>
    <div>
    <div ng-repeat="widget in workspaceWidgets">
        <div class="widget well pull-left" style="width: {{widget.instance.width}}px;height: widget.instance.heightpx;">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <ul class="nav">
                            <li><a ng-click="deleteWidgetFromWorkspace(widget)">delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div ng-bind-html-unsafe="renderWidgetIframe(widget)"></div>
            <!--<iframe  ng-src="{{widget.instance.url}}" width={{widget.instance.width}} height={{widget.instance.height}}></iframe>-->
        </div>
    </div>
    </div>
</script>

{% endraw %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% javascripts
    '@CorujaPlesyndBundle/Resources/public/js/lib/jquery-1.8.1.js'
    '@CorujaPlesyndBundle/Resources/public/js/lib/angular/angular.js'
    '@CorujaPlesyndBundle/Resources/public/js/lib/angular/angular-resource.js'
    '@CorujaPlesyndBundle/Resources/public/js/lib/postmessage.js'
    '@CorujaPlesyndBundle/Resources/public/js/app.js'
    '@CorujaPlesyndBundle/Resources/public/js/controllers/plesynd-controller.js'
    '@CorujaPlesyndBundle/Resources/public/js/controllers/workspace-controller.js'
    '@CorujaPlesyndBundle/Resources/public/js/controllers/dashboard-controller.js'
    '@CorujaPlesyndBundle/Resources/public/js/services/workspace-service.js'
    '@CorujaPlesyndBundle/Resources/public/js/services/widget-service.js'
    '@CorujaPlesyndBundle/Resources/public/js/services/workspace-widget-service.js'
    '@CorujaPlesyndBundle/Resources/public/js/services/coruja-online-status.js'
    '@CorujaPlesyndBundle/Resources/public/js/services/coruja-storage.js'
    '@CorujaPlesyndBundle/Resources/public/js/services/coruja-resource.js'
    output='js/compiled/plesynd/main.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
