<!DOCTYPE html>
<html lang="en" ng-app="plesynd" ng-controller="PlesyndCtrl" smanifest="/cache.appcache">
<head>
    <meta charset="utf-8">
    {% raw %}<title>PleSynd {{online_status_string}}</title>{% endraw %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% stylesheets
    '@CorujaPlesyndBundle/Resources/public/css/bootstrap.css'
    '@CorujaPlesyndBundle/Resources/public/css/app.css'
    output='css/compiled/plesynd/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <style type="text/css">
        .form input.ng-invalid.ng-dirty, .form input.ng-invalid.ng-invalid-server {
            background-color: #FA787E;
        }
        .form input.ng-valid.ng-dirty {
            background-color: #78FA89;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none;
        }

        ng\:form {
            display: block;
        }
    </style>

    <!-- Le fav and touch icons -->
    <!--
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    -->
</head>

<body>

{% raw %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Plesynd</a>
            <p class="navbar-text pull-right">
                <span><a class="navbar-link" ng-click="logout()">Logout</a></span>
            </p>
            <ul class="nav">
                <li>
                    <a>
                        <span ng-show="online_status" class="label label-success">Online</span>
                        <span ng-show="!online_status" class="label label-important">Offline</span>
                    </a>
                </li>
            </ul>
        </div><!--/.container-fluid -->
    </div>
</div>

<div class="auth waiting-for-angular">
    <div id="auth-container" class="container">
        <div class="hero-unit" id="login">
            <div class="well">
                <form class="form-inline">
                    <input type="text" ng-model="username" placeholder="Username"/>
                    <input type="password" ng-model="password" placeholder="Password"/>
                    <button type="submit" ng-click="login()" class="btn btn-primary">Login</button>
                    <button class="btn btn-info" ng-click="changeAuthType('register')">Register</button>
                </form>
            </div>
        </div>
        <div class="hero-unit" id="register">
            <div class="well">
                <form novalidate remote-form method='post' target="user" success="changeAuthType" name="registerForm">
                    <div class="control-group" ng-class="{error: !registerForm.username.$valid}">
                        <div class="controls">
                            <input remote-form-component type="text" name="username" ng-model="user.username" placeholder="Username"/>
                            <span class="help-inline" ng-show="!registerForm.username.$valid && registerForm.username.$error.server">{{ serverValidationError.username }}</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: !registerForm.email.$valid}">
                        <div class="controls">
                            <input remote-form-component email type="text" name="email" ng-model="user.email" placeholder="Email"/>
                            <span class="help-inline" ng-show="!registerForm.email.$valid && registerForm.email.$error.server">{{ serverValidationError.email }}</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: !registerForm.password.$valid}">
                        <div class="controls">
                            <input remote-form-componen type="password" name="password" ng-model="user.password" placeholder="Password"/>
                            <span class="help-inline" ng-show="!registerForm.password.$valid && registerForm.password.$error.server">{{ serverValidationError.email }}</span>
                        </div>
                    </div>
                    <button type="submit" ng-click="submit(user)" ng-disabled="registerForm.$pristine" class="btn btn-primary">Register</button>
                    <button class="btn btn-info" ng-click="changeAuthType('login')">Go to login</button>
                </form>
            </div>
        </div>
    </div>

    <div id="content" class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="progress" ng-class="active" ng-cloak>
                    <div class="bar" style="width: 100%;"></div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span12">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: checkActiveTab('dashboard')}"><a href="#/dashboard">Dashboard</a></li>
                    <li ng-class="{active: checkActiveTab(workspace.id)}" ng-repeat="workspace in workspaces" >
                        <a href="#/workspace/{{workspace.id}}">
                            {{workspace.title}}
                            <span ng-show="checkActiveTab(workspace.id)" ng-click="changeShowEdit()"> | e</span>
                        </a>
                    </li>
                    <li><a ng-click="addWorkspace()">Add</a></li>
                </ul>
            </div><!--/span-->
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span12">
                <div ng-view></div>
            </div><!--/span-->
        </div><!--/row-->

        <div class="row-fluid">
            <div class="span12">
                <div ng-repeat="widget in widgets">
                    <div ng-show="isWidgetVisible(widget)" class="widget well pull-left" style="width: {{ widget.instance.width }}px;height:({{ widget.instance.height }}+80)px;">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="container-fluid">
                                    <a class="brand" href="#">{{ widget.title }}</a>
                                    <ul ng-show="widget.is_offline_compatible" class="nav">
                                        <li>
                                            <a>
                                                <span ng-show="online_status" class="label label-success">Online</span>
                                                <span ng-show="!online_status" class="label label-important">Offline</span>
                                            </a>
                                        </li>
                                        <li><a><span class="label label-info">Available {{ widget.data.available.length }}</span></a></li>
                                        <li>
                                            <a>
                                                <span class="label " ng-class="{'label-success':widget.data.number_not_synchronized == 0, 'label-warning':widget.data.number_not_synchronized > 0}">
                                                    Sync {{ widget.data.number_not_synchronized }}
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="nav pull-right">
                                        <li><a ng-click="deleteWidget(widget)"><span class="label label-important">x</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div ng-bind-html-unsafe="renderWidgetIframe(widget)"></div>
                    </div>
                </div>
            </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer>
            <p>&copy; Roman Sachse 2012</p>
        </footer>

    </div><!--/.fluid-container-->
</div>

<!-- Container that holds dashboard -->
<script type="text/ng-template" id="dashboard">
    <div class="row-fluid">
        <div class="span6 well" >
            <table ng-repeat="workspace in workspaces" class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th colspan="4"><a href="#/workspace/{{workspace.id}}">{{workspace.title}}</a></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="filtered.length > 0">
                    <th>#</th>
                    <th>Widget</th>
                    <th>Items available</th>
                    <th>Items not synchronized</th>
                    <th>delete Widget</th>
                </tr>
                <tr ng-repeat="widget in filtered = (widgets | filter:{workspace.id:workspace.id})">
                    <td>{{ widget.position }}</td>
                    <td>{{ widget.title }}</td>
                    <td ng-show="widget.is_offline_compatible"><span class="label label-info">{{ widget.data.available.length }}</span></td>
                    <td ng-show="widget.is_offline_compatible">
                        <span class="label " ng-class="{'label-success':widget.data.number_not_synchronized == 0, 'label-warning':widget.data.number_not_synchronized > 0}">
                            {{ widget.data.number_not_synchronized }}
                        </span>
                    </td>
                    <td ng-show="!widget.is_offline_compatible" colspan="2">Widget is not offline compatible</td>
                    <td><span ng-click="deleteWidget(widget)" class="btn btn-danger">x</span></td>
                </tr>
                <tr ng-show="filtered.length == 0">
                    <td colspan="5">Workspace does not have widgets</td>
                </tr>
                </tbody>
            </table>
        </div><!--/span-->
    </div><!--/row-->
    <div class="row-fluid"
        <div class="span12 well">
            <div ng-repeat="childFrame in childFrames">
                {{ childFrame }}
            </div>
        </div><!--/span-->
    </div><!--/row-->
</script>

<!-- Container that holds the different workspaces -->
<script type="text/ng-template" id="workspaceContainer">
    <div class="row-fluid edit-workspace" ng-show="show_edit">
        <div class="span12 well">
            <div class="row-fluid choose-widget">
                <div class="span2">
                    <select ng-model="widget" ng-options="widget.title for widget in availableWidgets">
                        <option value="">-- Choose Widget --</option>
                    </select>
                </div><!--/span-->
                <div class="span10">
                    <button class="btn" ng-show="widget" ng-click="addWidgetToWorkspace(widget)">Add Widget to Workspace</button>
                </div><!--/span-->
            </div><!--/row-->
            <div class="row-fluid">
                <div class="span5">
                    <table ng-show="widget" class="table table-bordered">
                        <tbody>
                        <tr>
                            <td><img ng-src="{{widget.icon}}" /></td>
                        </tr>
                        <tr>
                            <td>{{widget.title}}</td>
                        </tr>
                        <tr>
                            <td>{{widget.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!--/span-->
            </div><!--/row-->
            <div class="row-fluid">
                <div class="span12">
                    <button class="btn" ng-click="deleteWorkspace()">Delete workspace</button>
                </div><!--/span-->
            </div><!--/row-->
        </div><!--/span-->
    </div><!--/row-->
    <hr>
</script>

{% endraw %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% javascripts
    '@CorujaPlesyndBundle/Resources/public/js/lib/jquery-1.8.1.js'
    '@CorujaPlesyndBundle/Resources/public/js/lib/angular/angular.js'
    '@CorujaPlesyndBundle/Resources/public/js/lib/angular/angular-resource.js'
    '@CorujaPlesyndBundle/Resources/public/js/lib/http-auth-interceptor.js'
    '@CorujaPlesyndBundle/Resources/public/js/lib/postmessage.js'
    '@CorujaPlesyndBundle/Resources/public/js/app.js'
    '@CorujaPlesyndBundle/Resources/public/js/controllers/plesynd-controller.js'
    '@CorujaPlesyndBundle/Resources/public/js/controllers/workspace-controller.js'
    '@CorujaPlesyndBundle/Resources/public/js/controllers/dashboard-controller.js'
    '@CorujaPlesyndBundle/Resources/public/js/directives/coruja-auth-directive.js'
    '@CorujaPlesyndBundle/Resources/public/js/directives/coruja-remote-form-directive.js'
    '@CorujaPlesyndBundle/Resources/public/js/services/workspace-service.js'
    '@CorujaPlesyndBundle/Resources/public/js/services/widget-service.js'
    '@CorujaPlesyndBundle/Resources/public/js/services/child-frame-service.js'
    '@CorujaPlesyndBundle/Resources/public/js/services/coruja-frame-messenger.js'
    '@CorujaPlesyndBundle/Resources/public/js/services/coruja-online-status.js'
    '@CorujaPlesyndBundle/Resources/public/js/services/coruja-storage.js'
    '@CorujaPlesyndBundle/Resources/public/js/services/coruja-resource.js'
    output='js/compiled/plesynd/main.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
