<!DOCTYPE html>
<html lang="en" ng-app="application" ng-controller="PlesyndCtrl" smanifest="/cache.appcache">
<head>
    <meta charset="utf-8">
    {% raw %}<title ng-cloak>PleSynd {{online_status_string}}</title>{% endraw %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" />
    {% stylesheets
    '@CorujaPlesyndBundle/Resources/public/app/application/application.css'
    output='css/compiled/plesynd/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

</head>

<body ng-cloak>

{% raw %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Plesynd</a>
            <p class="navbar-text pull-right">
                <span><a class="navbar-link" ng-click="logout()">Logout</a></span>
            </p>
            <ul class="nav">
                <li>
                    <a>
                        <span ng-show="isOnline" class="label label-success">Online</span>
                        <span ng-hide="isOnline" class="label label-important">Offline</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span ng-show="loading" class="label label-warning">Loading, please wait...</span>
                    </a>
                </li>
            </ul>
        </div><!--/.container-fluid -->
    </div>
</div>

<div message-container class="container-fluid"></div>

<div class="auth">
    <div id="auth-container" class="container">
        <div class="hero-unit" id="login">
            <div class="well">
                <form>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" ng-model="username" placeholder="Username"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="password" ng-model="password" placeholder="Password"/>
                        </div>
                    </div>
                    <button type="submit" ng-click="login()" class="btn btn-primary">Login</button>
                    <button class="btn btn-info" ng-click="changeAuthType('register')">Register</button>
                </form>
            </div>
        </div>
        <div class="hero-unit" id="register">
            <div class="well">
                <form novalidate remote-form method='post' target="user" success="changeAuthType" name="registerForm">
                    <div class="control-group" ng-class="{error: !registerForm.username.$valid}">
                        <div class="controls">
                            <input remote-form-component type="text" name="username" ng-model="user.username" placeholder="Username"/>
                            <span class="help-inline" ng-show="!registerForm.username.$valid && registerForm.username.$error.server">{{ serverValidationError.username }}</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: !registerForm.email.$valid}">
                        <div class="controls">
                            <input remote-form-component email type="text" name="email" ng-model="user.email" placeholder="Email"/>
                            <span class="help-inline" ng-show="!registerForm.email.$valid && registerForm.email.$error.server">{{ serverValidationError.email }}</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: !registerForm.password.$valid}">
                        <div class="controls">
                            <input remote-form-componen type="password" name="password" ng-model="user.password" placeholder="Password"/>
                            <span class="help-inline" ng-show="!registerForm.password.$valid && registerForm.password.$error.server">{{ serverValidationError.email }}</span>
                        </div>
                    </div>
                    <button type="submit" ng-click="submit(user)" ng-disabled="registerForm.$pristine" class="btn btn-primary">Register</button>
                    <button class="btn btn-info" ng-click="changeAuthType('login')">Go to login</button>
                </form>
            </div>
        </div>
    </div>

    <div id="content" class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: checkActiveTab('dashboard')}"><a href="#/dashboard">Dashboard</a></li>
                    <li ng-class="{active: checkActiveTab(workspace.id)}" ng-repeat="workspace in workspaces" >
                        <a href="#/workspace/{{workspace.id}}">
                            {{workspace.title}}
                            <span ng-show="isOnline && checkActiveTab(workspace.id)" ng-click="changeShowEdit(!show_edit)"> | <i class="icon-wrench"></i> </span>
                        </a>
                    </li>
                    <li><a ng-click="addWorkspace()">Add</a></li>
                </ul>
            </div><!--/span-->
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span12">
                <div ng-view></div>
            </div><!--/span-->
        </div><!--/row-->

        <div class="row-fluid">
            <div class="span12">
                <div ng-repeat="widget in widgets">
                    <div ng-show="isWidgetVisible(widget)" class="widget well pull-left" style="width: {{ widget.instance.width }}px;height:({{ widget.instance.height }}+80)px;">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="container-fluid">
                                    <a class="brand" href="#">{{ widget.title }}</a>
                                    <ul ng-show="widget.is_offline_compatible" class="nav">
                                        <li>
                                            <a>
                                                <span ng-show="isOnline" class="label label-success">Online</span>
                                                <span ng-hide="isOnline" class="label label-important">Offline</span>
                                            </a>
                                        </li>
                                        <li><a><span class="label label-info">Available {{ widget.data.available }}</span></a></li>
                                        <li>
                                            <a>
                                                <span class="label " ng-class="{'label-success':widget.data.number_not_synchronized == 0, 'label-warning':widget.data.number_not_synchronized > 0}">
                                                    Sync {{ widget.data.number_not_synchronized }}
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="nav pull-right">
                                        <li><a ng-show="isOnline" ng-click="deleteWidget(widget)"><span class="label label-important">x</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div ng-bind-html-unsafe="renderWidgetIframe(widget)"></div>
                    </div>
                </div>
            </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer>
            <p>&copy; Roman Sachse 2012</p>
        </footer>

    </div><!--/.fluid-container-->
</div>

<!-- Container that holds dashboard -->
<script type="text/ng-template" id="dashboard">
    <div class="row-fluid">
        <div class="span6 well" >
            <span ng-hide="workspaces.length > 0">You have no workspace. <a ng-click="addWorkspace()">Add</a> one to start</span>
            <table ng-repeat="workspace in workspaces" class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th colspan="4"><a href="#/workspace/{{workspace.id}}">{{workspace.title}}</a></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="filtered.length > 0">
                    <th>#</th>
                    <th>Widget</th>
                    <th>Items available</th>
                    <th>Items not synchronized</th>
                    <th>delete Widget</th>
                </tr>
                <tr ng-repeat="widget in filtered = (widgets | filter:{workspace.id:workspace.id})">
                    <td>{{ widget.position }}</td>
                    <td>{{ widget.title }}</td>
                    <td ng-show="widget.is_offline_compatible && widget.data">
                        <span class="label label-info">{{ widget.data.available }}</span>
                    </td>
                    <td ng-show="widget.is_offline_compatible && widget.data">
                        <span class="label " ng-class="{'label-success':widget.data.number_not_synchronized == 0, 'label-warning':widget.data.number_not_synchronized > 0}">
                            {{ widget.data.number_not_synchronized }}
                        </span>
                    </td>
                    <td colspan="2" ng-show="widget.is_offline_compatible && !widget.data">
                        No data available, maybe not logged in?
                    </td>
                    <td ng-show="!widget.is_offline_compatible" colspan="2">Widget is not offline compatible</td>
                    <td><span ng-click="deleteWidget(widget)" class="btn btn-danger">x</span></td>
                </tr>
                <tr ng-show="filtered.length == 0">
                    <td colspan="5">Workspace does not have widgets</td>
                </tr>
                </tbody>
            </table>
        </div><!--/span-->
    </div><!--/row-->
    <div class="row-fluid"
        <div class="span12 well">
            <div ng-repeat="childFrame in childFrames">
                {{ childFrame }}
            </div>
        </div><!--/span-->
    </div><!--/row-->
</script>

<!-- Container that holds the different workspaces -->
<script type="text/ng-template" id="workspaceContainer">
    <div class="row-fluid edit-workspace" ng-show="show_edit">
        <div class="span12 well">
            <div class="row-fluid" style="margin-bottom:10px;">
                <div class="span12">
                    <span ng-hide="change_title" ng-dblclick="change_title = true"><strong>Title</strong>: {{ workspace.title }} (double-click to change)</span>
                    <input ng-show="change_title" ng-model="workspace.title" />
                    <button ng-show="change_title" ng-disabled="workspace.title.length == 0" class="btn btn-primary" ng-click="updateTitle()">Update Title</button>
                </div><!--/span-->
            </div><!--/row-->
            <div class="row-fluid choose-widget">
                <div class="span2">
                    <select ng-model="widget" ng-options="widget.title for widget in availableWidgets | filter:{title:widgetTitleFilter} | filter:offlineCompatibleCheck">
                        <option value="">-- Choose Widget --</option>
                    </select>
                </div><!--/span-->
                <div class="span10">
                    <button class="btn" ng-show="widget" ng-click="addWidgetToWorkspace(widget)">Add Widget to Workspace</button>
                    <input ng-hide="widget" ng-model="widgetTitleFilter" placeholder="Filter Widgets"/>
                    <div ng-hide="widget" class="btn-group">
                        <button ng-class="{'btn-primary':!offlineCompatibleFilter}" ng-click="offlineCompatibleFilter = false" class="btn">all widgets</button>
                        <button ng-class="{'btn-primary':offlineCompatibleFilter}" ng-click="offlineCompatibleFilter = true" class="btn">offline widgets</button>
                    </div>
                </div><!--/span-->
            </div><!--/row-->
            <div class="row-fluid">
                <div class="span5">
                    <table ng-show="widget" class="table table-bordered">
                        <tbody>
                        <tr>
                            <td><img ng-src="{{widget.icon}}" /></td>
                        </tr>
                        <tr>
                            <td>{{widget.title}}</td>
                        </tr>
                        <tr>
                            <td>{{widget.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!--/span-->
            </div><!--/row-->
            <div class="row-fluid">
                <div class="span12">
                    <button class="btn" ng-click="deleteWorkspace()">Delete workspace</button>
                </div><!--/span-->
            </div><!--/row-->
        </div><!--/span-->
    </div><!--/row-->
    <hr>
</script>

{% endraw %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% javascripts
    '@CorujaAngularModuleBundle/Resources/public/app/lib/jquery-1.8.1.js'
    '@CorujaAngularModuleBundle/Resources/public/app/lib/angular.js'
    '@CorujaAngularModuleBundle/Resources/public/app/lib/angular-resource.js'
    '@CorujaAngularModuleBundle/Resources/public/app/lib/http-auth-interceptor.js'
    '@CorujaAngularModuleBundle/Resources/public/app/lib/postmessage.js'
    '@CorujaPlesyndBundle/Resources/public/app/application/application.js'
    '@CorujaPlesyndBundle/Resources/public/app/application/configuration-service.js'
    '@CorujaPlesyndBundle/Resources/public/app/plesynd/plesynd-controller.js'
    '@CorujaPlesyndBundle/Resources/public/app/dashboard/dashboard-controller.js'
    '@CorujaPlesyndBundle/Resources/public/app/workspace/workspace-controller.js'
    '@CorujaPlesyndBundle/Resources/public/app/workspace/workspace-service.js'
    '@CorujaPlesyndBundle/Resources/public/app/widget/widget-service.js'
    '@CorujaAngularModuleBundle/Resources/public/app/coruja-auth/coruja-auth-directive.js'
    '@CorujaAngularModuleBundle/Resources/public/app/coruja-child-frame/coruja-child-frame-service.js'
    '@CorujaAngularModuleBundle/Resources/public/app/coruja-frame-messenger/coruja-parent-frame-messenger-service.js'
    '@CorujaAngularModuleBundle/Resources/public/app/coruja-message/coruja-message-container-directive.js'
    '@CorujaAngularModuleBundle/Resources/public/app/coruja-message/coruja-message-service.js'
    '@CorujaAngularModuleBundle/Resources/public/app/coruja-online-status/coruja-online-status-service.js'
    '@CorujaAngularModuleBundle/Resources/public/app/coruja-remote-form/coruja-remote-form-directive.js'
    '@CorujaAngularModuleBundle/Resources/public/app/coruja-resource/coruja-resource-service.js'
    '@CorujaAngularModuleBundle/Resources/public/app/coruja-storage/coruja-local-storage-service.js'
    output='js/compiled/plesynd/main.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
