<!DOCTYPE HTML>
<html lang="en" ng-app="application" {% if app.debug == false %} manifest="/todo/cache.appcache" {% endif %}>
<head>
    <meta charset="utf-8">
    <title>Todo</title>
    {% stylesheets filter="uglifycss" output='css/compiled/todo/main.css'
    'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css'
    '@CorujaTodoBundle/Resources/public/app/application/application.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>

{% raw %}

<div ng-controller="ConfirmationCtrl" ui-modal class="fade" ng-model="confirmationModalShown" id="confirmationModal">
    <div class="modal-header">
        <h3>Confirmation needed</h3>
    </div>
    <div class="modal-body">
        <p>{{ confirmation_text }}</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" ng-click="cancel()">Cancel</a>
        <a href="#" class="btn btn-primary" ng-click="confirm()">Confirm</a>
    </div>
</div>


<div id="main" class="auth span6" ng-controller="TodoCtrl" >
    <div class="well well-small">
        <strong>Plesynd Todo</strong>
        <a ng-show="active_username" class="pull-right" ng-click="logout()">Logout {{ active_username }}</a>
    </div>

    <div message-container></div>

    <div id="auth-container">
        <div class="hero-unit" id="login">
            <div class="well">
                <form>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" ng-model="username" placeholder="Username"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="password" ng-model="password" placeholder="Password"/>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="!username || !password" ng-click="login()" class="btn btn-primary">Login</button>
                    <button class="btn btn-info" ng-click="changeAuthType('register')">Register</button>
                </form>
            </div>
        </div>
        <div class="hero-unit" id="register">
            <div class="well">
                <form novalidate remote-form method='post' target="user" success="registrationSuccessful" name="registerForm">
                    <div class="control-group" ng-class="{error: !registerForm.username.$valid}">
                        <div class="controls">
                            <input remote-form-component type="text" name="username" ng-model="user.username" placeholder="Username"/>
                            <span class="help-inline" ng-show="!registerForm.username.$valid && registerForm.username.$error.server">{{ serverValidationError.username }}</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: !registerForm.email.$valid}">
                        <div class="controls">
                            <input remote-form-component email type="text" name="email" ng-model="user.email" placeholder="Email"/>
                            <span class="help-inline" ng-show="!registerForm.email.$valid && registerForm.email.$error.server">{{ serverValidationError.email }}</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: !registerForm.plainPassword.$valid}">
                        <div class="controls">
                            <input remote-form-component type="password" name="plainPassword" ng-model="user.plainPassword" placeholder="Password"/>
                            <span class="help-inline" ng-show="!registerForm.plainPassword.$valid && registerForm.plainPassword.$error.server">{{ serverValidationError.plainPassword }}</span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{error: !registerForm.repeatPassword.$valid}">
                        <div class="controls">
                            <input type="password" name="repeatPassword" ng-model="repeatPassword" password-validator="plainPassword" placeholder="Repeat Password"/>
                            <span class="help-inline" ng-show="!registerForm.repeatPassword.$valid">Passwords do not match</span>
                        </div>
                    </div>
                    <button type="submit" ng-click="submit(user)" ng-disabled="registerForm.$pristine || !registerForm.repeatPassword.$valid" class="btn btn-primary">Register</button>
                    <button class="btn btn-info" ng-click="changeAuthType('login')">Go to login</button>
                </form>
            </div>
        </div>
    </div>
    <div id="content">
        <table class="table table-striped" ng-cloak>
            <tr>
                <th style="width: 20%">
                    <button ng-hide="!isOnline || add_todo_list || activeTodoList" class="btn btn-mini" ng-click="add_todo_list = true"><i class="icon-plus"></i></button>
                    <button ng-show="isOnline && activeTodoList && !edit_todo_list" class="btn btn-mini" ng-click="edit_todo_list = true"><i class="icon-wrench"></i></button>
                </th>
                <th style="width: 60%">
                    <select ng-hide="add_todo_list || edit_todo_list" class="input-xlarge" ng-model="activeTodoList" ng-options="todoList.title for todoList in todoLists ">
                        <option value="">-- Choose TodoList --</option>
                    </select>
                    <form ng-show="edit_todo_list" ng-submit="editTodoList(activeTodoList)">
                        <input type="text" placeholder="name of list" ng-model="activeTodoList.title">
                    </form>
                    <form ng-show="add_todo_list" ng-submit="addTodoList(newTodoList)">
                        <input type="text" class="input-xlarge" placeholder="name of added list" ng-model="newTodoList">
                    </form>
                </th>
                <th style="width: 20%">
                    <button ng-show="edit_todo_list"class="btn btn-warning" ng-click="deleteTodoList(activeTodoList)"><i class="icon-trash"></i></button>
                </th>
            </tr>
            <tr ng-show="activeTodoList">
                <td style="width: 20%">
                    <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-change="toggleAll()">
                    <label for="toggle-all">Mark all as complete</label>
                </td>
                <td colspan="2" style="width: 80%">
                    <form ng-submit="addTodo()">
                        <input type="text" class="input-xlarge" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
                    </form>
                </td>
            </tr>
            <tr ng-show="activeTodoList" class="todo" ng-repeat="todo in activeTodos | filter:statusFilter">
                <td style="width: 20%">
                    <i ng-hide="todo.completed" class="icon-ok" ng-click="todoCompleted(todo)"></i>
                    <i ng-show="todo.completed" class="icon-remove" ng-click="todoCompleted(todo)"></i>
                </td>
                <td style="width: 60%" class="span10" ng-dblclick="editTodo(todo)">
                    <div ng-class="{'todo-completed': todo.completed}" ng-hide="todo == editedTodo">
                        <strong>{{todo.title}} ID: {{todo.id}}</strong>
                    </div>
                    <form ng-show="todo == editedTodo" ng-submit="doneEditing(todo)">
                        <input type="text" class="input-xlarge" ng-model="todo.title" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
                    </form>
                </td>
                <td style="width: 20%">
                    <button class="btn btn-mini btn-warning delete-todo" ng-click="deleteTodo(todo)"><i class="icon-trash"></i></button>
                </td>
            </tr>
            <tfoot ng-show="activeTodoList && activeTodos.length">
                <tr>
                    <td>
                        <span id="todo-count"><strong>{{remainingCount}}</strong></span>
                        <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
                    </td>
                    <td colspan="2">
                        <div class="btn-group">
                            <button class="btn" ng-click="changeFilter('')" ng-class="{'btn-primary': location.path() == '/'}">All</button>
                            <button class="btn" ng-click="changeFilter('active')" ng-class="{'btn-primary': location.path() == '/active'}">Active</button>
                            <button class="btn" ng-click="changeFilter('completed')" ng-class="{'btn-primary': location.path() == '/completed'}">Completed</button>
                            <button class="btn btn-warning" ng-click="clearDoneTodos()" ng-show="doneCount">Clear completed ({{doneCount}})</button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endraw %}

<script type=text/javascript>
//    var base_url = 'http://plesynd';
    var base_url = 'http://beta.plesynd.de';
</script>

{% javascripts filter="?uglifyjs" output='js/compiled/todo/main.js'
'@CorujaAngularModuleBundle/Resources/public/app/lib/jquery-1.8.2.js'
'@CorujaAngularModuleBundle/Resources/public/app/lib/angular.js'
'@CorujaAngularModuleBundle/Resources/public/app/lib/bootstrap.js'
'@CorujaAngularModuleBundle/Resources/public/app/lib/angular-ui.js'
'@CorujaAngularModuleBundle/Resources/public/app/lib/angular-resource.js'
'@CorujaAngularModuleBundle/Resources/public/app/lib/http-auth-interceptor.js'
'@CorujaAngularModuleBundle/Resources/public/app/lib/postmessage.js'
'@CorujaTodoBundle/Resources/public/app/application/application.js'
'@CorujaTodoBundle/Resources/public/app/application/configuration-constants.js'
'@CorujaTodoBundle/Resources/public/app/todo/todo-controller.js'
'@CorujaTodoBundle/Resources/public/app/todo/todo-service.js'
'@CorujaTodoBundle/Resources/public/app/todo/todo-blur-directive.js'
'@CorujaTodoBundle/Resources/public/app/todo/todo-focus-directive.js'
'@CorujaTodoBundle/Resources/public/app/todo-list/todo-list-service.js'
'@CorujaAngularModuleBundle/Resources/public/app/coruja-auth/coruja-auth-directive.js'
'@CorujaAngularModuleBundle/Resources/public/app/coruja-confirmation/coruja-confirmation-controller.js'
'@CorujaAngularModuleBundle/Resources/public/app/coruja-confirmation/coruja-confirmation-service.js'
'@CorujaAngularModuleBundle/Resources/public/app/coruja-frame-messenger/coruja-child-frame-messenger-service.js'
'@CorujaAngularModuleBundle/Resources/public/app/coruja-message/coruja-message-container-directive.js'
'@CorujaAngularModuleBundle/Resources/public/app/coruja-message/coruja-message-service.js'
'@CorujaAngularModuleBundle/Resources/public/app/coruja-online-status/coruja-online-status-service.js'
'@CorujaAngularModuleBundle/Resources/public/app/coruja-password-validator/coruja-password-validator-directive.js'
'@CorujaAngularModuleBundle/Resources/public/app/coruja-remote-form/coruja-remote-form-directive.js'
'@CorujaAngularModuleBundle/Resources/public/app/coruja-resource/coruja-resource-service.js'
'@CorujaAngularModuleBundle/Resources/public/app/coruja-storage/coruja-local-storage-service.js'
%}
<script src="{{ asset_url }}"></script>

{% endjavascripts %}
</body>
</html>